.App {
  text-align: center;
  display: flex;
  width: 100%;
}

#addNote {
  width: 40%
}

#notesList {
  width: 60%
}

#timestamp {
  color: gray;
  text-align: right
}

#buttons {
  text-align: right
}

.login {
  /* background-color: pink; */
  display:flex;
  position: absolute;
  right: 0;
  bottom: 0;
}

#userinfo {
  color: gray;
  height: 10px
}